@import "../../node_modules/antd/dist/antd";

.poc1-dash-line {
    border-left: 1px dashed #000;
    padding-left: 15px;

    svg path {
        fill: rgb(0, 0, 255);
    }

    .poc1-dash-line {
        margin-left: 35px;
    }
}

.poc1-line {
    margin-bottom: 20px;
}

.poc1-condition {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.poc1-space {
    margin-left: 20px;
}
.poc1-condition-key {
    display: inline;
    margin-left: 50px;
    margin-right: 10px;
    font-weight: bold;
}

.poc1-condition-op {
    display: inline;
    border: 2px solid black;
    padding: 2px;

    .anticon {
        margin-left: 5px;
    }
}

.poc1-rule {
    padding-left: 2px;
    border-bottom: 1px dashed blue;
}

.poc1-rule-op {
    border-bottom: 1px dashed blue;
    margin-right: 10px;
}
.poc1-rule-value {
    border: 1px dashed blue;
    color: rgb(209, 145, 85);
    padding: 2px 10px;
    font-weight: bold;
}
.poc1-rule-key {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
}

.poc1-close {
    margin-left: 50px;
}
